// cores
$cor-escura: rgb(24, 32, 43);
$cor-clara: rgb(214, 212, 201);
$cor_fundo: rgb(231, 232, 228);

// fontes
$fonte-principal: Helvetica, Arial, sans-serif;

// espaçamento
$espacamento-pequeno: 1rem;
$espacamento-medio: 2rem;
$espacamento-grande: 6rem;

// bordas
$borda-arredondada: 20px;

// transição
$transicao-padrao: 0.3s;