* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(231, 232, 228);
    color: rgb(24, 32, 43);
    line-height: 1.6;
    overflow-x: hidden;
}

/* header */
.header {
    width: 100%;
    padding: 1rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(24, 32, 43);
    color: rgb(214, 212, 201);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 1rem;
}

.header__item {
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: rgb(214, 212, 201);
    font-weight: 500;
    transition: 0.3s;
}

.header__link:hover {
    color: rgb(231, 232, 228);
}

/* banner */
.banner {
    min-height: 50vh;
    padding: 2rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.banner__conteudo {
    flex: 1;
}

.banner__titulo {
    font-size: 2.2rem;
}

.botao {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgb(24, 32, 43);
    color: rgb(214, 212, 201);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.botao:hover {
    background-color: rgb(214, 212, 201);
    color: rgb(24, 32, 43);
}

.banner__imagem img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    border-radius: 20px;
}

/* sobre */
.sobre {
    padding: 6rem 8%;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.sobre__imagem img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
}

.sobre__titulo {
    margin-bottom: 1rem;
    font-size: 2rem;
}

/* serviços */
.servicos {
    padding: 2rem 8%;
    text-align: center;
}

.servicos__titulo {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.grid__servicos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;   
    width: 100%; 
}

.servicos__card {
    background-color: rgb(24, 32, 43);
    color: rgb(214, 212, 201);
    padding: 1.5rem;
    border-radius: 20px;
    transition: 0.3s;
    width: 100%;
}

.servicos__card:hover {
    transform: translateY(-5px);
}

.servicos__card-titulo {
    margin-bottom: 1rem;
}

/* depoimentos */
.depoimentos {
    padding: 6rem 8%;
    text-align: center;
}

.depoimentos__titulo {
    font-size: 2rem;
}

.depoimentos__cards {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}

.depoimentos__card {
    padding: 2rem;
    border-radius: 20px;
    background-color: rgb(214, 212, 201);
}

/* contato */
.contato {
    padding: 6rem 8%;
}

.contato__titulo {
    text-align: center;
    margin-bottom: 3rem;
}

.contato__container {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.contato__info {
    width: 40%;
}

.contato__form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contato__input,
.contato__textarea {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    outline: none;
}

.contato__textarea {
    min-height: 150px;
    resize: none;
}

/* footer */
.footer {
    font-size: 0.9rem;
    text-align: center;
    padding: 2rem;
    background-color: rgb(24, 32, 43);
    color: rgb(214, 212, 201);
}

/* responsividade */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;
        
    }

    .header__logo {
        font-size: 1.3rem;
        text-align: center;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8rem;
    }

    .header__link {
        font-size: .9rem;
    }

    .banner {
        flex-direction: column;
        text-align: center;
        min-height: auto;
        padding: 1rem;
        gap: 2rem;
    }

    .banner__conteudo {
        width: 100%;
    }

    .banner__titulo {
        font-size: 1.8rem;
    }

    .banner__imagem img {
        width: 85%;
        max-width: 300px;
    }

    .sobre {
        flex-direction: column;
        text-align: center;
    }

    .sobre__imagem img {
        width: 90%;
    }

    .grid__servicos {
        grid-template-columns: 1fr;
    }

    .depoimentos__cards {
        flex-direction: column;
    }

    .contato__container {
        flex-direction: column;
    }

    .contato__info,
    .contato__form {
        width: 100%;
    }
}